.top_header {
    color: aqua;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
}
a img {
   width: 100%;
   height: 300px;
   object-fit: cover;
}
.container-fluid{
    padding: 0;
    margin: 0;
}
.tennis a:hover img {
    z-index: auto;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.tennis a:hover img {
    opacity: 0.3;
}

.dance a:hover img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.dance a:hover img {
    opacity: 0.3;
}

.karate a:hover img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.karate a:hover img {
    opacity: 0.3;
}

.kendo a:hover img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.kendo a:hover img {
    opacity: 0.3;
}